/*
 * Ranking Task Widget - CSS
 * astro.unl.edu
 * v0.0.1 (in active development)
 * 22 June 2018
 */

.rt-root-div {
  border: 1px solid #aaa;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
/*  background-color: lightgreen; */
  overflow: hidden;
}

.rt-question-p {
  margin: 1em 1em 1em 1em;
  flex: 1;
/*  background-color: lightblue; */
}

.rt-items-div {
  margin: 0 1em 1em 1em;
  flex: 5;
/*  background-color: pink; */
}

.rt-item-img {
  position: absolute;
  margin: 0;
}

