/*
 * Ranking Task Widget - CSS
 * astro.unl.edu
 * v0.0.5 (in active development)
 * 29 June 2018
 */

.rt-root-div {
  border: 1px solid #aaa;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
/*  background-color: lightgreen;*/
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.rt-inner-div {
  width: 100%;
  height: 100%;
}

.rt-question-p {
  margin: 1em;
/*  background-color: lightblue;*/
}

.rt-items-div {
  position: relative;
  margin: 1em;
/*  background-color: pink;*/
}

.rt-item-div {
  position: absolute;
}

.rt-item-img {
  width: 100%;
  height: 100%;
}

.rt-footer {
  position: relative;
  margin: 1em;
  display: flex;
  flex-direction: row-reverse;
/*  background-color: orange;*/
}

.rt-feedback {
  margin: 0em 1em 0em 0em;
  float: right;
/*  background-color: lightgray;*/
}

.rt-grade-button {
  margin: 0em;
  float: right;
}

